The score for a single round is the score for the shape you selected 
(1 for Rock, 2 for Paper, and 3 for Scissors) 

plus the score for the outcome of the round 
(0 if you lost, 3 if the round was a draw, and 6 if you won)

This strategy guide predicts and recommends the following:

    In the first round, your opponent will choose Rock (A), and you should choose Paper (Y). This ends in a win for you with a score of 8 (2 because you chose Paper + 6 because you won).
    In the second round, your opponent will choose Paper (B), and you should choose Rock (X). This ends in a loss for you with a score of 1 (1 + 0).
    The third round is a draw with both players choosing Scissors, giving you a score of 3 + 3 = 6.

In this example, if you were to follow the strategy guide, you would get a total score of 15 (8 + 1 + 6).

In [3]:
import pandas as pd

In [30]:
#to quantify your choice score, and the score for winning
# A=rock=1=X, B=paper=2=Y, C=scissors=3=Z
# 0, 3, 6 loss draw win

shape_score_lookup = {'X':1, 'Y':2, 'Z':3}

#Define winning/losing functions
"""
rock-rock = draw 'AX':3
paper-paper = draw 'BY':3
scissor-scissor = draw 'CZ':3

rock-paper = win 'AY':6
paper-rock = loss 'BX':0
scissors-paper = loss 'CY':0
paper-scissors = win 'BZ':6
scissors-rock = win 'CX':6
rock-scissors = loss 'AZ':0
"""


result_lookup = {'AX':3, 'BY':3, 'CZ':3, 'AY':6, 'BX':0, 'CY':0, 'BZ':6, 'CX':6, 'AZ':0}

In [6]:
f = open("Day2sample.txt", "r")
f.readlines()

['A Y\n', 'B X\n', 'C Z\n']

In [31]:
df = pd.read_csv("Day2sample.txt", header=None, delim_whitespace='/n')

In [32]:
shape_score_lookup['Y']

2

In [33]:
df['shape_score'] = [shape_score_lookup[x] for x in df[1]]

In [34]:
df

   0  1  shape_score
0  A  Y            2
1  B  X            1
2  C  Z            3

In [35]:
df['result_score'] = [result_lookup[x] for x in df[0] + df[1]]

In [36]:
df

   0  1  shape_score  result_score
0  A  Y            2             6
1  B  X            1             0
2  C  Z            3             3

In [37]:
df['total'] = df.shape_score + df.result_score

In [38]:
df

   0  1  shape_score  result_score  total
0  A  Y            2             6      8
1  B  X            1             0      1
2  C  Z            3             3      6

In [39]:
sum(df.total)

15

In [40]:
## run on actual input

df = pd.read_csv("Day2input.txt", header=None, delim_whitespace='/n')
df['shape_score'] = [shape_score_lookup[x] for x in df[1]]
df['result_score'] = [result_lookup[x] for x in df[0] + df[1]]
df['total'] = df.shape_score + df.result_score

sum(df.total)

10816

Part 2:
    "Anyway, the second column says how the round needs to end: X means you need to lose, Y means you need to end the round in a draw, and Z means you need to win. Good luck!"

The total score is still calculated in the same way, but now you need to figure out what shape to choose so the round ends as indicated. The example above now goes like this:

    In the first round, your opponent will choose Rock (A), and you need the round to end in a draw (Y), so you also choose Rock. This gives you a score of 1 + 3 = 4.
    In the second round, your opponent will choose Paper (B), and you choose Rock so you lose (X) with a score of 1 + 0 = 1.
    In the third round, you will defeat your opponent's Scissors with Rock for a score of 1 + 6 = 7.

Now that you're correctly decrypting the ultra top secret strategy guide, you would get a total score of 12.

In [112]:
thier_move_lookup = {'A':'rock', 'B':'paper', 'C':'scissors'}
result_lookup = {'X':'loss', 'Y':'draw', 'Z':'win'}

#Use the existing result lookup table, but 
#Define winning/losing functions

part2_result = {
('rock', 'rock'):'draw',
('paper', 'paper'):'draw',
('scissors', 'scissors'):'draw',

('rock','paper'):'win',
('paper','rock'):'loss',
('scissors','paper'):'loss',
('paper','scissors'):'win',
('scissors','rock'):'win',
('rock','scissors'):'loss'
}

In [113]:
#try with mini sample data
df = pd.read_csv("Day2sample.txt", header=None, delim_whitespace='/n')

In [114]:
opponent = df.loc[0,0]
result = df.loc[0,1]

print(thier_move_lookup[opponent])
print(result_lookup[result])

rock
draw

In [115]:
#rearrange the dict to give a 'needed_play' lookup
# dict_variable = {key:value for (key,value) in dictonary.items()}

play_lookup = {(key[0],value):key[1] for (key,value) in part2_result.items()}
play_lookup

{('rock', 'draw'): 'rock',
 ('paper', 'draw'): 'paper',
 ('scissors', 'draw'): 'scissors',
 ('rock', 'win'): 'paper',
 ('paper', 'loss'): 'rock',
 ('scissors', 'loss'): 'paper',
 ('paper', 'win'): 'scissors',
 ('scissors', 'win'): 'rock',
 ('rock', 'loss'): 'scissors'}

In [116]:
df['thier_move'] = [thier_move_lookup[x] for x in df[0]]

In [117]:
df['result'] = [result_lookup[x] for x in df[1]]

In [118]:
df

   0  1 thier_move result
0  A  Y       rock   draw
1  B  X      paper   loss
2  C  Z   scissors    win

In [119]:
df['key'] = df[['thier_move','result']].apply(tuple, axis=1)

In [120]:
df['your_move'] = [play_lookup[x] for x in df['key']]

In [121]:
df

   0  1 thier_move result              key your_move
0  A  Y       rock   draw     (rock, draw)      rock
1  B  X      paper   loss    (paper, loss)      rock
2  C  Z   scissors    win  (scissors, win)      rock

In [122]:
# Now work out the scores
# A=rock=1=X, B=paper=2=Y, C=scissors=3=Z
# 0, 3, 6 loss draw win

new_score_lookup = {"win":6, "loss":0, "draw":3}
new_play_score = {"rock":1, "paper":2, "scissors":3}

In [123]:
df['game_score'] = [new_score_lookup[x] for x in df['result']]

In [124]:
df['move_score'] = [new_play_score[x] for x in df['your_move']]

In [125]:
df

   0  1 thier_move result              key your_move  game_score  move_score
0  A  Y       rock   draw     (rock, draw)      rock           3           1
1  B  X      paper   loss    (paper, loss)      rock           0           1
2  C  Z   scissors    win  (scissors, win)      rock           6           1

In [126]:
df['total_score'] = df.game_score + df.move_score

In [127]:
df

,0,1,thier_move,result,key,your_move,game_score,move_score,total_score
0,A,Y,rock,draw,"(rock, draw)",rock,3,1,4
1,B,X,paper,loss,"(paper, loss)",rock,0,1,1
2,C,Z,scissors,win,"(scissors, win)",rock,6,1,7

In [128]:
sum(df.total_score)

12

In [129]:
# Now repeat on real input

df = pd.read_csv("Day2input.txt", header=None, delim_whitespace='/n')

df['thier_move'] = [thier_move_lookup[x] for x in df[0]]
df['result'] = [result_lookup[x] for x in df[1]]
df['key'] = df[['thier_move','result']].apply(tuple, axis=1)
df

      0  1 thier_move result               key
0     A  X       rock   loss      (rock, loss)
1     A  X       rock   loss      (rock, loss)
2     A  Z       rock    win       (rock, win)
3     B  X      paper   loss     (paper, loss)
4     A  X       rock   loss      (rock, loss)
...  .. ..        ...    ...               ...
2495  C  Z   scissors    win   (scissors, win)
2496  C  Y   scissors   draw  (scissors, draw)
2497  B  X      paper   loss     (paper, loss)
2498  C  Y   scissors   draw  (scissors, draw)
2499  C  Y   scissors   draw  (scissors, draw)

[2500 rows x 5 columns]

In [130]:
play_lookup

{('rock', 'draw'): 'rock',
 ('paper', 'draw'): 'paper',
 ('scissors', 'draw'): 'scissors',
 ('rock', 'win'): 'paper',
 ('paper', 'loss'): 'rock',
 ('scissors', 'loss'): 'paper',
 ('paper', 'win'): 'scissors',
 ('scissors', 'win'): 'rock',
 ('rock', 'loss'): 'scissors'}

In [131]:
df['your_move'] = [play_lookup[x] for x in df['key']]

df['game_score'] = [new_score_lookup[x] for x in df['result']]
df['move_score'] = [new_play_score[x] for x in df['your_move']]

df['total_score'] = df.game_score + df.move_score

In [132]:
sum(df.total_score)

11657